pytest
pylint
ipdb
jupyterlab
numpy
pandas
matplotlib
seaborn
scikit-learn

requests
geopandas
openmeteo-requests
requests-cache 
retry-requests

mlflow==2.1.1
prefect==2.14.9

python-dotenv

# API
fastapi==0.108.0
pytz
uvicorn
# tests
httpx
pytest-asyncio
pydantic